@model dynamic

<div class="jumbotron">
    <div class="container px-4 py-5 mx-auto">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-10 my-5">
                            <h6 class="msg-info">Please create a new account</h6>

                            <div class="form-group">
                                <label class="form-control-label text-muted">Username</label>
                                <input type="text" id="email" name="email" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="form-control-label text-muted">Password</label>
                                <input type="password" id="psw" name="psw" class="form-control">
                            </div>

                            <div class="row justify-content-center my-3 px-3">
                                <button class="btn-block btn-color btn-login">Sign in</button>
                            </div>

                        </div>
                    </div>
                    <div class="bottom text-center mb-5">
                        <p class="sm-text mx-auto mb-3">
                            Already have an account?
                            <button class="btn btn-white ml-2">
                                @Html.ActionLink("Login", "Index", "Home")
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script >
    $(document).ready(function() {
    console.log("test");
        $(".btn-login").click(() => {
           const email = $("#email").val();
           const password = $("#psw").val();
           const signInData = {
               email,
               password
           }
           $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/Home/SignIn",
            data: JSON.stringify(signInData),
            dataType: "json",
            success: ((result) => {
                alert(result.Message)
            })
           })
        })
    })
</script>